@import './tailwind.scss';

@import './containers/styles.scss';


// layout elements
.header{
  @apply overflow-hidden;
  position: relative;
  height: 75vh;
  overflow: hidden;
}

.link{
  @apply cursor-pointer;
}

.banner{
  @apply bg-black flex justify-center w-full absolute;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.banner_img{
  height: 100%;
  width: auto;
  max-width: none;
}

.banner-overlay{
  @apply absolute top-0 h-full w-full flex flex-col items-center justify-center bg-black bg-opacity-80;
  z-index: 20;
}

.nav-block{
  @apply flex justify-center items-center;
}
// element styles

a {
  @apply text-green-400 hover:text-green-600 hover:border-solid border-b border-green-400 hover:border-green-600 border-dotted;
}

body{
  @apply bg-gray-900;
  min-height: 100vh;
}

// globals
* {
  outline: none;
  @apply text-gray-300;
  // font-family: 'Roboto', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 240px) and (max-width: 479px) { // mobile
  * {
    font-size: 12px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) { // tablet
  * {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1079px) { // tablet
  * {
    font-size: 16px;
  }
}
@media screen and (min-width: 1080px) { // tablet
  * {
    font-size: 18px;
  }
}

// *::selection{
//   outline: none;
// }

.logo{
  font-family: 'Permanent Marker', cursive;
}

// img{
//   height: 100%;
//   width: auto;
//   overflow: hidden;
// }

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-blue-300 bg-opacity-25;
  height: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-green-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-green-700;
}